*temp*
*anytown.txt
.DS_Store
__pycache__
.*.swp
LeakDB_Versions
slurm-*.out
logs
SB3_Experiments/*.zip
SB3_Experiments/*_log
SB3_Experiments/*_normalized_env
Results/**/*.yml
Results/**/relative*.yaml
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
